<h2>{{title}}</h2>
<p>
  Fecha nacimiento:
  <input type="date" #bday (keyup.enter)="bday.value=''">
  <br> 
  Nuevo heroe:
  <input type="text" #box
  (keyup.enter)="addHero(box.value,bday.value); box.value=''" placeholder="hero name">
  <br>
  
  <input id="can-fly" type="checkbox" [(ngModel)]="canFly">
  Puede volar

</p>
<p>
  <button (click)="reset()">Reset</button>
</p>

<h4>Heroes que vuelan (filtrados)</h4>
<div id="flyers">
  <div *ngFor="let hero of (heroes | flyingHeroes)">
    {{hero.name}} 
    {{hero.birth}}
  </div>
</div>
<h4>Todos los heroes (sin filtro)</h4>
<div id="all">
  <div *ngFor="let hero of heroes">
    {{hero.name}} 
    {{hero.birth}}
  </div>
</div>
